.personaje{ /*le damos el tamaño a los fotogramas de la imagen, calculamos el ancho total de la imagen
            dividido al total de las imganes de la tira*/
    height: 200px; /*alto de la imagen*/
    width: 164px; /*1640 / 10 = 164px*/
    background: url(../images/Megaman.png);
    margin: 0 auto; /*ALINEA AL CENTRO*/
    animation: correr 1.5s steps(10) infinite; /*Llamamos a correr cada 2 segundos, infinitamente*/
                                          /*Steps(10), total de los fotogramas de la imagen*/
}

@keyframes correr{/*Keyframe que simula movimiento*/
  0%{
    background-position: 0px;
  }

  100%{
    background-position: -1640px; /*El ancho de la imagen*/
  }
}